# Environment variables - KEEP YOUR SECRETS SAFE!
.env

# Google Cloud credentials
credentials.json

# Python virtual environment folder
venv/

# Plaid Sandbox Access Token
access_token.txt

# Python cache files
__pycache__/
*.pyc